body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a192f;
    color: aliceblue;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    border: 2px solid aliceblue;
    border-radius: 22px;
    padding: 30px;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

.bodySec {
    font-size: large;
    text-align: center;
    border: 2px solid aliceblue;
    border-radius: 22px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    background-image: url('icons/clouds.gif');
    background-position: center;
    background-size: cover;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.input-container img {
    margin-right: 10px;
}

.text-input {
    width: 80%;
    padding: 10px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    background-color: #112240;
    color: aliceblue;
    font-size: 16px;
}

::placeholder {
    color: aliceblue;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: aliceblue;
    background-color: #112240;
    border: 2px solid aliceblue;
    border-radius: 10px;
    cursor: pointer;
}

.weather-results {
    display: none;
    justify-content: center;
    gap: 20px;
    font-size: large;
    text-align: center;
    border: none;
    border-radius: 22px;
    padding: 30px;
    margin-top: 20px;
    width: 80%;
    max-width: 1200px;
}

.weather-card {
    background-color: #112240;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 45%;
}

.weather-card h2 {
    margin: 0;
    padding-bottom: 10px;
}
